[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_23000E001943303854303720-if00
restart_method: command

[cartographer]
mcu: cartographer
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 21.1                         
#    adjust for your cartographers offset from nozzle to middle of coil      

[bed_mesh]
zero_reference_position: 150, 150    
#    set this to the middle of your bed
speed: 300
#    movement speed of toolhead during bed mesh
horizontal_move_z: 3
#    height of scanner during bed mesh scan
mesh_min: 30, 30
#    start point of bed mesh [X, Y]
mesh_max: 260, 260
#    end point of bed mesh [X, Y]
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[safe_z_home]
home_xy_position: 150,150
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10