##### X/Y Axis #####

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 99

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 100

##### Z Axis #####

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 999999

##### Extruder ######

#[tmc2240 extruder]
#cs_pin: EBBCan: PA15
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#driver_TPFD: 0
#run_current: 0.400
#stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0