#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
[respond]
#[include chopper_tune.cfg]
# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

[include V2/machine.cfg]
[include V2/tmc.cfg]
[include V2/cartographer.cfg]
[include V2/macros.cfg]
[include V2/clean_nozzle.cfg]
[include V2/calibration.cfg]
[include V2/other.cfg]
[include V2/stealthburner_leds.cfg]
[include V2/temp_monitor.cfg]
[include V2/disable_cooling.cfg]
[include V2/disable_exhaust.cfg]
[include V2/home_if_needed.cfg]
[include V2/speed_test.cfg]
[include V2/bedfans.cfg]
#[include V2/spoolman.cfg]

#TEMPORARY INCLUDE!!!
[include mainsail.cfg]

[mcu]
canbus_uuid: bfecfd962eff

[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_rp2040_32323232361977FF-if00
restart_method: command

[adxl345]
cs_pin: nhk:gpio27
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 150, 150, 30

[idle_timeout]
timeout: 1800

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
   50,25
   50,240
   250,240
   250,25

speed: 400
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 5

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1250
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.050
#*#
#*# [scanner model default]
#*# model_coef = 1.554310433533972,
#*# 	1.8852320238498863,
#*# 	0.7508916093831103,
#*# 	0.3201929893034212,
#*# 	0.3557638280117431,
#*# 	0.4004596117056673,
#*# 	-0.25289835847822045,
#*# 	-0.4054249872291727,
#*# 	0.24321128000904849,
#*# 	0.25177060961877357
#*# model_domain = 3.2586986506284924e-07,3.3557729382489126e-07
#*# model_range = 0.200417,5.100417
#*# model_temp = 24.430604
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.004254, 0.025841, 0.024462, 0.012600, 0.004792, 0.011613, 0.003753
#*# 	-0.010319, 0.020620, 0.015429, 0.009148, 0.004715, 0.006841, 0.020219
#*# 	-0.007295, 0.012181, -0.000360, -0.002040, -0.008465, -0.010950, 0.002228
#*# 	-0.002876, 0.014711, 0.007752, 0.003111, -0.008754, -0.005462, 0.000676
#*# 	-0.004275, 0.009031, 0.011090, 0.001826, -0.003221, 0.002269, -0.000451
#*# 	0.016779, 0.028741, 0.023342, 0.020064, 0.015603, 0.019813, 0.028967
#*# 	0.000409, 0.017656, 0.008824, 0.004606, 0.006783, 0.011398, 0.009910
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 260.0
#*# min_y = 30.0
#*# max_y = 260.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4198496515416867,1.8958724207985338,0.8323267468331278,0.3564416941635836,0.5137080922359544,0.6786545997429996,-0.3523353675846345,-0.6501993010442084,0.3871062723390979,0.4207300243556716
#*# domain = 3.201138069401638e-07,3.3547610764303295e-07
#*# z_offset = 0
#*# reference_temperature = 34.74
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1654
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
